<% provide(:title, 'Home') %>

<div class="home_title justify-content-center d-flex">
  <h1 class="align-self-center text-center">Group Our Transactions</h1>
</div>
<div class="home_buttons">
  <%= link_to  "Login", login_path, class: "btn btn-primary btn-lg btn-block" %>
  <%= link_to  "Signup", signup_path, class: "btn text-secondary btn-lg btn-block" %>
</div>