<div class="card mb-3 mx-3 d-flex flex-row p-3 justify-content-between">
  <%= link_to "#{group.name}", group_url(group.id),
                class: "text-decoration-none h4 m-0 p-3" %>
  <p class="m-0 pr-2 align-self-center"><small class="text-muted"><%= group.created_at.strftime('%d %b %Y') %></small></p>
</div>