// @import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

#main_container {
  height: 90vh;
}

.home_title {
  // font-family: 'Petit Formal Script', cursive;
  font-family: 'Cookie', cursive;
  font-size: 3em;
  height: 80%;
  h1 { font-size: 1.5em; }
}

.home_buttons {
}