<div class="card mb-3 mx-3">
  <div class="d-flex p-3 justify-content-between">
    <h5 class="text-muted m-0">
      <%= link_to "#{transaction.name}", transaction_url(transaction.id),
                    class: "text-decoration-none" %>
    </h5>  
    <p class="font-weight-bold m-0">
      $<%= number_with_precision(transaction.amount, :precision => 2) %>
    </p>
  </div>

  <div class="d-flex">
    <p class="ml-3">
      <small class="text-muted">
        <%= transaction.created_at.strftime('%d %b %Y') %>
      </small>
    </p>

    <% if controller_name == 'groups' && action_name == 'show' %>
      <p class="text-muted font-weight-bold ml-5"><%= transaction.user.name %>'s</p>
    <% end %>
  </div>
</div>