<div class="card mb-3 mx-3">
  <div class="d-flex p-3 justify-content-between">
    <h5 class="text-muted m-0"><%= transaction.name %></h5>
    <p class="font-weight-bold m-0">$<%= number_with_precision(transaction.amount, :precision => 2) %></p>
  </div>
  <p class="card-text pl-3 pb-3"><small class="text-muted"><%= transaction.created_at.strftime('%d %B %y') %></small></p>
</div>