<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
  <%# right-side burguer icon %>
  <%= link_to root_path do %>
    <button class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
  <% end %>

  <%# dropdown setup (2 divs) %>
      <%= link_to 'New Grp', new_group_path, class: "nav-item btn btn-outline-light" %>
      <%= link_to 'New Trn', new_trn_path, class: "nav-item btn btn-outline-light" %>

</nav>
