<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%# right-side burguer icon %>
  <button class="navbar-toggler">
    <span class="navbar-toggler-icon"><%= link_to '', root_path %></span>
  </button>

  <%# dropdown setup (2 divs) %>
      <%= link_to 'New Grp', new_group_path, class: "nav-item btn btn-outline-secondary" %>
      <%= link_to 'New Trn', new_trn_path, class: "nav-item btn btn-outline-secondary" %>

</nav>
