<nav class="navbar navbar-dark bg-primary">
  <%# right-side burguer icon %>
  <%= link_to current_user do %>
    <button class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
  <% end %>

  <h4 class="nav-item text-light mb-0 mr-5"><%= yield(:title).upcase %></h4>

  <div class="nav-item"></div>
</nav>
